*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #1e90ff, #00ff2f);
}

h2 {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

video {
  width: 400px;
}

nav ol {
  list-style-type: none;
  font-weight: bold;
  display: flex;
  gap: 1.5rem;
}

dt {
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

table,
td,
th {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}

table {
  box-shadow: 0 0 30px gray;
}

tfoot {
  text-align: left;
}

/* TWEET SECTION */
.tweet {
  border: 3px solid gray;
}

/* to fix the behaviour when using float property */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 0.5rem;
}

.clear {
  clear: both;
}
