*,
*::after,
::before {
  box-sizing: border-box;
 
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

nav {
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  gap: 1.5rem;
}

.box {
  width: 5rem;
  height: 5rem;
  border: 2px solid gray;
  background-color: gold;
  display: inline-block;
  overflow: auto;
}

/* .box::before {
  content: 'Hello';
} */

.boxes {
  border: 3px solid lightgray;
  position: relative;
}

.square {
  width: 10rem;
  height: 10rem;
}

.box-one {
  background-color: gold;
}

.box-two {
  background-color: tomato;
  position: relative;
  left: 4rem;
  bottom: 4rem;
  /* z-index: -1; */
}

.box-three {
  background-color: dodgerblue;
  position: absolute;
  top: 0;
  right: 0;
}

.box-four {
  background-color: green;
}

/* STAIRCASE SECTION */

.staircase {
  height: 40rem;
  width: 40rem;
  border: 3px solid gray;
  box-sizing: content-box;
}

.step {
  height: 10rem;
  width: 10rem;
  background-color: yellow;
  border: 3px solid tomato;
}

.row-1 {}

.row-2 {
  background-color:crimson;
  display: inline-block;
  padding-left: 10rem;
  box-sizing: content-box;
}

.row-3 {
  background-color:crimson;
  display: inline-block;
  padding-left: 20rem;
}

.row-4 {
  background-color:crimson;
  display: inline-block;
  padding-left: 30rem;
}
