*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  margin-bottom: 20rem;
}

a {
  color: #427fef;
}

a:active,
a:visited {
  color: #427fef;
}

a:hover {
  color: tomato;
}

nav {
  display: flex;
  font-weight: bold;
  gap: 1.5rem;
}

thead,
tfoot {
  color: whitesmoke;
  background-color: #427fef;
}

tbody tr:nth-of-type(odd) {
  background-color: #eef7ff;
}

table,
td,
th {
  border-bottom: 1px solid #c4dcf3;
  border-collapse: collapse;
  padding: 10px;
}

tfoot {
  text-align: left;
}

.box-tomato {
  width: 300px;
  height: 300px;
  background-color: tomato;
  box-shadow: 10px 10px lightgray;
  border-radius: 10px;
}
